{% extends 'main/base_info.html' %}

{% block title %}
	{{ customer.surname }} - {{ block.super }}
{% endblock  %}

{% block content %}
	<div class="card">
  		<div class="card-header">
   		 	{{ customer.surname }} {{ customer.name }} {{ customer.patronymic }}
 		 </div>
  		<div class="card-body">
			<p class="card-text">
				Дата рожедния: {{ customer.birthday }}
				<br>
				Паспорт: {{ customer.passport }}
				<br>
				Адресс: {{ customer.address }}
				<br>
				Город: {{ customer.city }}
				<br>
				Телефон: {{ customer.telephone }}
			</p>
 		</div>
	</div>
{% endblock  %}