{% extends 'main/base_info.html' %}

{% block title %}
	Edit Type Of Housing "{{housing.arrival_date|title }}" - {{ block.super }}
{% endblock %}

{% block content %}

	<form action="{{ housing.get_update_url }}" method="post">
		{% csrf_token %}

		{% for field in form %}
			<div class="form-group">
				{% if field.errors %}
					<div class="alert alert-danger">
						{{ field.errors }}
					</div>
				{% endif %}

    			{{ field.label }}
				{{ field }}
  			</div>
		{% endfor %}

		<button type="submit" class="btn btn-primary">Update Type Of Housing</button>

	</form>

{% endblock %}